
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right;direction:rtl;">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Categories</h2>
                        <p>desc about categories</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="type name" id="txtTypeName">
                                </div>
                                <div class="form-ic-cmp button-icon-btn button-icon-btn-cl sm-res-mg-t-30">
                                    <button class="btn btn-lightgreen lightgreen-icon-notika btn-reco-mg btn-button-mg waves-effect" id="btnAddType"><i class="notika-icon notika-checked" style="top:0 !important;"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="brand name" id="txtBrandName">
                                </div>
                                <div class="form-ic-cmp button-icon-btn button-icon-btn-cl sm-res-mg-t-30">
                                    <button class="btn btn-lightgreen lightgreen-icon-notika btn-reco-mg btn-button-mg waves-effect" id="btnAddBrand"><i class="notika-icon notika-checked" style="top:0 !important;"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-edit"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="categoryname" id="txtCategoryName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int" id="TypeWrap">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int" id="BrandWrap">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-star"></i>
                                </div>
                                <div class="nk-int-st">
                                    <textarea class="form-control" placeholder="desc" id="txtDescription"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-star"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="keywords" id="txtKeywords">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="nk-int-st">
                                    <button class="btn notika-btn-green btn-reco-mg btn-button-mg waves-effect" id="btnAddCategory">add this!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
    {
    <link rel="stylesheet" href="@Url.Content("~/Content/css/wave/button.css")">
     }

@section scripts
    {
   <script src="@Url.Content("~/Content/js/vendor/jquery-1.12.4.min.js")"></script>
    <script type="text/javascript">
        $(function ()
        {
            $("#btnAddCategory").click(function (e)
            {
                e.preventDefault();
                if($("#txtCategoryName").val() == '')
                {
                    alert('category name is null');
                }
            });
            $("#btnAddBrand").click(function (e) {
                e.preventDefault();
                if ($("#txtBrandName").val() == '') {
                    alert('category name is null');
                }
                $.ajax(
                    {
                    url: '@Url.Action("Home","AddBrand")',
                    type: 'post',
                    datatype: 'json',
                    data: {Name : $("#txtCategoryName").val()},
                    success: function (result)
                    {
                        $("#BrandWrap").html(result.Html);
                    },
                    error: function (result)
                    {
                        alert(result.Message);
                    }
                    }
                )
            });
            $("#btnAddType").click(function (e) {
                e.preventDefault();
                if ($("#txtTypeName").val() == '') {
                    alert('Type name is null');
                }
                $.ajax(
                    {
                        url: '@Url.Action("Home","AddType")',
                        type: 'post',
                        datatype: 'json',
                        data: { Name: $("#txtTypeName").val() },
                        success: function (result) {
                            $("#TypeWrap").html(result.Html);
                        },
                        error: function (result) {
                            alert(result.Message);
                        }
                    }
                )
            });
        });
    </script>
    }